torch~=1.7.1
hyperdash~=0.15.3
requests~=2.25.1
pandas~=1.2.0
scipy
gensim~=3.8.3
torchvision~=0.8.2
numpy~=1.19.4
sklearn~=0.0
scikit-learn~=0.24.0
tqdm~=4.55.1
matplotlib~=3.3.3
seaborn~=0.11.1
Pillow~=8.1.0
tensorflow~=2.4.0